.hero {
  --gap: 0.5em;
  background: whitesmoke;

  min-height: 10vh;
  padding: 4em 2em;
  font-size: 125%;
  position: relative;
  overflow: hidden;
}


.together {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.hero h1 {
  margin-top: 0;

  font-weight: 600;
  font-size: clamp(1.3em, 8vw + 0.5em, 3em);
}

.hero form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.hero form label {
  display: grid;
  font-weight: 500;
  text-align: left;
  position: relative;
}

.hero :where(input, select, a, button):focus-within {
  outline: 0;
  background-color: #e7edf3;
}

.hero form select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.hero:has(+ #details) a[href="#details"] {
  transform: translateY(-265%);
}

button[type="submit"] {
  margin: 0 auto;
  margin-top: 0.3em;
  width: min-content;
  padding: 0.25em 1.25em;

  background-color: #3a4473;
  color: white;
  border: none;
  font-size: 1.5em;
  border-radius: 0.3em;
  cursor: pointer;
  transform-origin: top center;
  transition: transform 250ms ease-in-out;
}
button[type="submit"]:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 350px) {
  .together {
    grid-template-columns: 1fr;
  }
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 100px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}
input[type=range]:hover {
  opacity: 1;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.km {
  float: left;
  display: none;
}