.RentCarFormInfo {
  width: 50%;
  background-color: white;
  margin: auto auto;
  text-align: center;
}
.RentCarFormInfo h2 {
}
.RentCarFormInfo label,
.RentCarFormInfo input,
.RentCarFormInfo textarea {
  max-height: 50px;
  margin: 10px 20px 50px;
}

.RentCarFormInfo :where(input, select, textarea, button):focus-within {
  outline: 0;
  background-color: #eee;
}
.RentCarFormInfo button {
  width: 50%;
  margin: 1em;
}
