body {
  text-align: center;
}
.reservationContainer {
  margin: 40px;
}
.togetherContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.RentCarForm {
  float: right;
  margin: 0;
}
.alert {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.delRes {
  height: 160px;
  background-color: #f66359;
  border: 0;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  width: 80px;
  font-size: 72px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

}
.delRes:hover {
  background-color: #df3e23;
}
.addRes {
  background-color: #2fb986;
  border: 0;
  font-size: 72px;
  width: 210px;
  height: 80px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.addRes:hover {
  background-color: #59c135;
}
