.Alert {
    padding: 20px;
    background-color: #04aa6d;
    color: white;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    margin-top:2.6em;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 28px;
    padding-top: 4px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}